body {
    background-image: url('../images/kiosk2.png');
    background-size:1024px;
    background-repeat: no-repeat; 
    background-attachment:fixed;
    margin: 0 !important;
    border: 0 !important;
}
.ui-widget-content{
    background: transparent !important;
    border-width: 0px !important;
    color: black;
    padding: 0 !important;
}

.ui-panel .ui-panel-content{
    padding: 0!important;
    margin: 0 !important;
    border: 0 !important;
}

.ui-datepicker {
    background-color: white !important;
}

.menu {
    background: transparent !important;
    border-width: 0px !important;
    margin: 0 !important;
    text-align: center;
}

.menu-button{
    font-size: 45px !important;
    text-align: center;
}

.icon-redaer{
    background-color: transparent !important;
    background-image: url('../images/redaer.png') !important;
    background-size: 78px 78px !important;
    background-repeat: no-repeat;
    border: 0 !important;
    height: 78px !important;
    width: 78px !important;
    padding: 0;
}

.icon-redaer:hover{
    border: 0 !important;
}


.icon-home-back{
    background-color: transparent !important;
    background-image: url('../images/home_back.png') !important;
    background-size: 68px 68px;
    background-repeat: no-repeat;
    margin: 0 !important;
    border: 0!important;
    height: 68px !important;
    width: 68px;
}
.repo-text{
    color: darkblue; 
    text-decoration: none; 
    font-size: 90%;
}
.repo-text:hover{
    color: white;
}

.klawiatura{
    background-color: white !important;
    width: 600px !important;
}
.keypad-row {
    width: auto !important;
}
.keypad-key {
    font-size: 1.6em !important;
    width: 45px !important;
}

.keypad-close {
    font-size: 1.6em !important;
    width:100px !important;
}
.keypad-clear {
    font-size: 1.6em !important;
    width:100px !important;
}
.keypad-back {
    font-size: 1.6em !important;
    width:100px !important;
}
.keypad-enter {
    font-size: 1.6em !important;
    width:100px !important;
}
.keypad-shift {
    font-size: 1.6em !important;
    width:100px !important;
}
.keypad-spacebar {
    font-size: 1.6em !important;
    width:270px !important;
}